@model  PagedResponse<List<GetQuoteDto>>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">QuoteText</th>
        <th scope="col">Author</th>
        <th scope="col">Image</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var quote in Model.Data)
    {
        <tr>
            <th scope="row">@quote.Id</th>
            <td>@quote.Title</td>
            <td>@quote.AuthorName</td>
            <td><img src="/images/@quote.ImageName" alt="not found" height="50"
                     style="border-radius:50%"  width="50"></td>
        </tr>
    }
    </tbody>
</table>